<!DOCTYPE html>
<html>
<head>
    <title>Execute Python Code</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="static/youtube_logo.png" alt="YouTube Logo">
            </div>
            <h1>Download YouTube Video with one click!</h1>
        </header>
        <main>
            <form id="python-form" method="post">
                <label for="user_input">Enter YouTube Video URL:</label>
                <textarea id="user_input" name="user_input" required></textarea>
                <button type="submit">Download</button>
            </form>


        </main>

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
